@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.tabela__total {
    border: 1px solid black;
    width: 90vw;
    margin: auto;
    margin-top: 1px;
    font-size: 1.5em;
} 

body {
    font-family: 'Poppins';
}

.header__acima {
    background-color: rgb(141, 141, 141);
}

td {
    border: 1px solid black;
    padding: 5px;
}

.tabela__header {
    padding: 10px;
}

.grafico-imagem {
    width: 80vw;
    margin: auto;
    display: flex;
    margin-top: 3em;
}

h1 {
    text-align: center;
    margin: 1em;
}

.tete {
    padding: 1px;
}


.descendencia {
    width: 90vw;
}

p {
    width: 87vw;
    margin: auto;
}